@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #e0f2fe, #bae6fd);
  background-size: 100% 100vh;
  font-family: "Raleway", sans-serif;
  /* background-repeat: no-repeat; */
}

.logo-text {
  font-family: "Pacifico", cursive;
  font-size: 18px;
}

/* .introduce {
  height: 100vh;
} */

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 3.5px;
  background: #075985;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

#hero {
  height: 70vh;
}

/* .greeting {
  margin-right: 1rem;
} */

.greeting-img {
  width: 2.5rem;
  /* height: 2.5rem; */
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

#about {
  height: 100vh;
}

.about-box {
  text-align: center;
  background-color: #1864ab;
  /* background-image: url("../img/ocean3.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  width: 70%;
  animation: slideInLeft 0.75s ease both;
}

.project {
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.project img {
  display: block;
  transition: all 0.4s;
}

.project img:hover {
  transform: scale(1.1);
}

/* .code {
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: #4dabf7;
} */
/* .about-img {
  width: 10rem;
  height: 10rem;
} */

.language-logo {
  height: 3.2rem;
  width: 3.2rem;
}

/* ANIMATIONS */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transfrom: rotate(0deg);
  }
  1000% {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .about-box {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .greeting-img {
    width: 1.8rem;
  }

  #hero {
    height: 70vh;
  }
}
/* .card {
  background-image: url("../img/metaverse.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40rem;
  width: 40rem;
}

.card:hover {
  background: none;
} */
